body
{
    background-color: #fbfff1;
    margin : 0px;
}
p
{
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : #605353;
    margin : 30px;
}
.topnav
/*style the nav bar*/
{
    width : 100%; 
    background-color : #B8F27D;
    overflow : auto;
    padding : 20px 0px;
}
/* Style the links on the nav bar */
.topnav a
{
    float: left;
    color : #605353;
    width : 20%;    
    text-decoration : none;
    text-align : center;
    font-size : 20px; 
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight : 900; 
}
.topnav a:hover
{
    background-color : #88b956;
    border-radius : 10px;
}
.parent 
{
    position : relative;
    top : 0;
    left : 0;
  }
  .image1 
  {
    position : relative;
    top : 0px;
    left : 0px;
    opacity : 70%;
    width : 100%;
  }
  .image2 
  {
    position: absolute;
    top : 85%;
    left : 20px;
    border : 1px solid #605353;
  }
  p 
  {
    font-size : 20px
  }